In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('wines_SPA.csv')

In [7]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [9]:
df.shape

(7500, 11)

In [18]:
df.dtypes

winery          object
wine            object
year            object
rating         float64
num_reviews      int64
country         object
region          object
price          float64
type            object
body           float64
acidity        float64
dtype: object

In [22]:
df.duplicated().sum()

5452

In [24]:
df = df.drop_duplicates()

In [26]:
df.duplicated().sum()

0

In [28]:
df.isnull().sum()

winery           0
wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64

In [30]:
null_val = df.isnull().sum()
null_val[null_val>0]

year         2
type       106
body       271
acidity    271
dtype: int64

In [32]:
df.shape

(2048, 11)

In [47]:
for col in null_val[null_val > 0].index:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(df[col].mode()[0])
    elif df[col].dtype == 'float64':
        df[col] = df[col].fillna(df[col].median())

In [49]:
null_val = df.isnull().sum()
null_val[null_val>0]

Series([], dtype: int64)

In [51]:
df.to_csv('clean_new_data.csv', index=False)