In [3]:
import pandas as pd
df = pd.read_csv("/content/wines_SPA.csv")

In [6]:
#changing to numeric values
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [24]:
#removes duplicate rows
df = df.drop_duplicates()

In [ ]:
#drop column coutry since only one element is there
df = df.drop(columns=['country'])

In [25]:
print(df.dtypes)
print(df.describe())
print(df.isnull().sum())

winery          object
wine            object
year             int64
rating         float64
num_reviews      int64
country         object
region          object
price          float64
type            object
body           float64
acidity        float64
dtype: object
              year       rating   num_reviews        price         body  \
count  2033.000000  2033.000000   2033.000000  2033.000000  2033.000000
mean   2011.272996     4.402607    575.239547   136.004267     4.226267
std      11.044993     0.146542   1381.146095   273.029742     0.616345
min    1910.000000     4.200000     25.000000     4.990000     2.000000
25%    2010.000000     4.300000     57.000000    32.000000     4.000000
50%    2015.000000     4.400000    140.000000    53.900000     4.000000
75%    2017.000000     4.500000    490.000000   110.000000     5.000000
max    2021.000000     4.900000  32624.000000  3119.080000     5.000000

           acidity
count  2033.000000
mean      2.931136
std       0.314009
min       1.000000
25%       3.000000
50%       3.000000
75%       3.000000
max       3.000000
winery         0
wine           0
year           0
rating         0
num_reviews    0
country        0
region         0
price          0
type           0
body           0
acidity        0
dtype: int64

In [26]:
#found null values in some of the coulums
df['year'] = df['year'].fillna(df['year'].median()).astype(int)
df['type'] = df['type'].fillna("Unknown")
df['body'] = df['body'].fillna(df['body'].median())
df['acidity'] = df['acidity'].fillna(df['acidity'].median())

In [27]:
print(df['year'].unique())
#no empty ones

[2013 2018 2009 1999 1996 1998 2010 1995 2015 2011 2016 1970 1946 1962
 2019 2004 1931 1979 2005 2020 2014 1985 1929 2007 2012 2017 2008 2006
 2000 2003 2002 1991 1994 1990 1989 1987 1986 1981 2001 1968 1964 1982
 1974 1983 1955 1980 1972 1953 1958 1942 1965 1992 1973 1997 1967 1975
 1910 1961 1954 1988 1969 1951 1928 1976 1949 2021 1959 1922 1978 1925]

In [30]:
print(df.duplicated().sum())

0

In [29]:
#removes duplicate rows
df = df.drop_duplicates()

In [32]:
df.isnull().sum()
#no null values
print(df['year'].unique())
print(df['country'].unique())
print(df['type'].unique())
#checked

[2013 2018 2009 1999 1996 1998 2010 1995 2015 2011 2016 1970 1946 1962
 2019 2004 1931 1979 2005 2020 2014 1985 1929 2007 2012 2017 2008 2006
 2000 2003 2002 1991 1994 1990 1989 1987 1986 1981 2001 1968 1964 1982
 1974 1983 1955 1980 1972 1953 1958 1942 1965 1992 1973 1997 1967 1975
 1910 1961 1954 1988 1969 1951 1928 1976 1949 2021 1959 1922 1978 1925]
['Espana']
['Toro Red' 'Tempranillo' 'Ribera Del Duero Red' 'Pedro Ximenez' 'Red'
 'Sherry' 'Priorat Red' 'Rioja Red' 'Rioja White' 'Grenache' 'Unknown'
 'Cava' 'Verdejo' 'Syrah' 'Monastrell' 'Mencia' 'Sparkling' 'Montsant Red'
 'Albarino' 'Chardonnay' 'Cabernet Sauvignon' 'Sauvignon Blanc']