In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv("wines_SPA.csv")
df

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Espana,Rioja,19.98,Rioja Red,4.0,3.0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,16.76,Priorat Red,4.0,3.0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,Espana,El Terrerazo,24.45,Red,4.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,Ribera Del Duero Red,5.0,3.0
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,Ribera Del Duero Red,5.0,3.0

In [22]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["winery"]=le.fit_transform(df["winery"])
df["wine"]=le.fit_transform(df["wine"])
df["region"]=le.fit_transform(df["region"])
df["type"]=le.fit_transform(df["type"])
df["country"]=le.fit_transform(df["country"])
df

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,422,759,2013,4.9,58,0,69,995.00,19,5.0,3.0
1,33,819,2018,4.9,31,0,74,313.50,18,4.0,2.0
2,447,778,2009,4.8,1793,0,57,324.95,11,5.0,3.0
3,447,778,1999,4.8,1705,0,57,692.96,11,5.0,3.0
4,447,778,1996,4.8,1309,0,57,778.06,11,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,159,619,2016,4.2,392,0,59,19.98,12,4.0,3.0
7496,158,440,2018,4.2,390,0,53,16.76,9,4.0,3.0
7497,334,302,2017,4.2,390,0,24,24.45,10,4.0,3.0
7498,316,342,2011,4.2,389,0,57,64.50,11,5.0,3.0
7499,406,596,2016,4.2,388,0,57,31.63,11,5.0,3.0

In [15]:
df.isnull().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type              0
body           1169
acidity        1169
dtype: int64

In [18]:
df["year"]=df["year"].fillna(df["year"][2])
df.isnull().sum()

winery            0
wine              0
year              0
rating            0
num_reviews       0
country           0
region            0
price             0
type              0
body           1169
acidity        1169
dtype: int64

In [20]:
df["acidity"]=df["acidity"].fillna(df["acidity"].mean())
df["body"]=df["body"].fillna(df["body"].mean())
df

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,422,759,2013,4.9,58,0,69,995.00,19,5.0,3.0
1,33,819,2018,4.9,31,0,74,313.50,18,4.0,2.0
2,447,778,2009,4.8,1793,0,57,324.95,11,5.0,3.0
3,447,778,1999,4.8,1705,0,57,692.96,11,5.0,3.0
4,447,778,1996,4.8,1309,0,57,778.06,11,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,159,619,2016,4.2,392,0,59,19.98,12,4.0,3.0
7496,158,440,2018,4.2,390,0,53,16.76,9,4.0,3.0
7497,334,302,2017,4.2,390,0,24,24.45,10,4.0,3.0
7498,316,342,2011,4.2,389,0,57,64.50,11,5.0,3.0
7499,406,596,2016,4.2,388,0,57,31.63,11,5.0,3.0

In [24]:
df.to_csv("cleaned_wines_SPA.csv", index = False)