In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [9]:
df=pd.read_csv('/content/wines_SPA.csv')

In [10]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [11]:
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = df[col].astype('category').cat.codes

In [12]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,422,759,61,4.9,58,0,69,995.00,19,5.0,3.0
1,33,819,66,4.9,31,0,74,313.50,18,4.0,2.0
2,447,778,57,4.8,1793,0,57,324.95,11,5.0,3.0
3,447,778,47,4.8,1705,0,57,692.96,11,5.0,3.0
4,447,778,44,4.8,1309,0,57,778.06,11,5.0,3.0

In [17]:
df.isnull().sum()

winery            0
wine              0
year              0
rating            0
num_reviews       0
country           0
region            0
price             0
type              0
body           1169
acidity        1169
dtype: int64

In [18]:
df['acidity'].fillna(df['acidity'].mean(), inplace=True)

<ipython-input-18-0ceb53f3f826>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['acidity'].fillna(df['acidity'].mean(), inplace=True)

In [19]:
df['body'].fillna(df['body'].mean(), inplace=True)

<ipython-input-19-9959aed97e76>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['body'].fillna(df['body'].mean(), inplace=True)

In [21]:
df.isnull().sum()

winery         0
wine           0
year           0
rating         0
num_reviews    0
country        0
region         0
price          0
type           0
body           0
acidity        0
dtype: int64

In [22]:
df = df.fillna(df.median(numeric_only=True))

In [23]:
target=df['price']
df.drop('price',axis=1,inplace=True)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.2, random_state=42)

In [29]:
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(),
    "Lasso Regression": Lasso(),
    "Decision Tree Regressor": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Support Vector Regressor": SVR(),
    "Gradient Boosting Regressor": GradientBoostingRegressor(),
    "KNN Regressor": KNeighborsRegressor()
}

results = []

for name, model in models.items():
    model.fit(X_train, y_train)

    sc = model.score(X_test, y_test)


    results.append({
        "Model": name,
        "score" : sc
    })

In [32]:
best_model = max(results, key=lambda x: x['score'])

In [33]:
best_model

{'Model': 'Random Forest Regressor', 'score': 0.689287664714525}