In [68]:
#importing
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [69]:
df=pd.read_csv('wines_SPA.csv')

In [70]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [71]:
print(df.isnull().sum())

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [72]:
#replacing the null values in the year column with the mode of the column
df['year']=df['year'].replace('N.V.', pd.NA)
df['year']=df['year'].fillna(df['year'].mode()[0])
df['year']=df['year'].astype(int)

In [ ]:
#Fills missing values in the type column based on the most frequent(mode) value within each wine group.
df['type'] = df.groupby('wine')['type'].transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else "unknown"))

In [73]:
df.shape

(7500, 11)

In [ ]:
#removing the duplicates
print(df.duplicated().sum())
df = df.drop_duplicates()

5452

In [75]:
df.nunique()

winery          480
wine            847
year             70
rating            8
num_reviews     817
country           1
region           76
price          1292
type             21
body              4
acidity           3
dtype: int64

In [76]:
#dropping the column with only one unique value
df = df.drop(columns=['country'])

In [ ]:
#label enocding columns with less than or equal to 10 unique values
categorical_cols = df.columns  
le = LabelEncoder()
for col in categorical_cols:
    unique_count = df[col].nunique()
    if unique_count <= 10:
        df[col] = le.fit_transform(df[col])

In [ ]:
#unifying the categorical columns
df = df.apply(lambda x: x.str.lower().str.strip() if x.dtype == "object" else x)

In [79]:
df.dtypes

winery          object
wine            object
year             int32
rating           int64
num_reviews      int64
region          object
price          float64
type            object
body             int64
acidity          int64
dtype: object

In [82]:
#saving the csv to a new file
df.to_csv("cleaned_data.csv", index=False)