In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("/Users/parteek/Desktop/ml-regression/Regression-25/wines_SPA.csv")

In [42]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [43]:
df.shape

(7500, 11)

In [44]:
df.duplicated().sum()

5452

In [45]:
df[df.duplicated()].head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
1800,Bodega Tameran,Marmajuelo,2020,4.3,27,Espana,Gran Canaria,29.75,NaN,NaN,NaN
2036,Ramon do Casar,Treixadura,2020,4.2,407,Espana,Ribeiro,11.95,NaN,NaN,NaN
2039,Binigrau,Nounat,2020,4.2,404,Espana,Mallorca,19.90,NaN,NaN,NaN
2050,La Vicalanda,Reserva,2015,4.2,420,Espana,Rioja,17.50,Rioja Red,4.0,3.0
2051,Enrique Mendoza,Santa Rosa,2017,4.2,420,Espana,Alicante,18.90,Red,4.0,3.0

In [46]:
# droping the duplicate rows.
df.drop_duplicates(inplace=True)

In [47]:
df.shape

(2048, 11)

In [48]:
df.isnull().sum()

winery           0
wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64

In [49]:
df.dtypes

winery          object
wine            object
year            object
rating         float64
num_reviews      int64
country         object
region          object
price          float64
type            object
body           float64
acidity        float64
dtype: object

In [50]:
# converting year(object) to year(int64) so that median imutation can be used here.
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [51]:
# for object (categorical) "type" we can use mode imputation-
mode_value = df['type'].mode()[0]
df['type'] = df['type'].fillna(mode_value)

In [52]:
# for int or float median imputation is used .
cols = ['year','body','acidity']
for col in cols:
    df[col] = df[col].fillna(df[col].median())

In [53]:
df.isnull().sum()

winery         0
wine           0
year           0
rating         0
num_reviews    0
country        0
region         0
price          0
type           0
body           0
acidity        0
dtype: int64

In [ ]:
df.to_csv('cleaned_data.csv', index=False)